<app-page-layout
  title="Devocional do Dia"
  imgUrl="assets/imgs/devotional.webp"
>
  <div class="page-content-wrapper">

  <ion-item-group class="devotional-list" *ngIf="isDevotionalLoaded">
    @if (isDevotionalLoaded) {
    <app-swipe-item
      [title]="'Texto do dia'"
      [link]="'devotional/todays-verse'"
      [task]="taskEnum.Verse"
    ></app-swipe-item>
    <app-swipe-item
      [title]="'Refletir'"
      [link]="'devotional/todays-reflection'"
      [task]="taskEnum.Reflection"
    ></app-swipe-item>
    <app-swipe-item
      [title]="'Oração'"
      [link]="'devotional/todays-prayer'"
      [task]="taskEnum.Prayer"
    ></app-swipe-item>
    <app-swipe-item
      [title]="'Citação'"
      [link]="'devotional/todays-citation'"
      [task]="taskEnum.Citation"
    ></app-swipe-item>
    <app-swipe-item
      [title]="'Musica temática'"
      [link]="'devotional/todays-music'"
      [task]="taskEnum.Music"
    ></app-swipe-item>
    }
  </ion-item-group>

  <div class="page-center">
    <ion-spinner *ngIf="!isDevotionalLoaded" name="crescent"></ion-spinner>
  </div>
  </div>
</app-page-layout>
