.page-header {
  height: 200px; // ajuste conforme o tamanho desejado
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-wrapper,
.position-fixed {
  top: 200px;
}

.no-scroll {
  overflow: visible;
}

.footer-controls {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
}
