// :host {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: space-between;
//   align-items: center;
//   height: 100%;
// }

.page-header {
  height: 200px; // ajuste conforme o tamanho desejado
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // --background: none; // remove background default do ion-toolbar
}
//   ion-content::part(scroll) {
//     padding-top: 200px; // igual à altura do header
//   }

//   ion-toolbar {
//     background: transparent;
//     --min-height: 56px; // mantém a altura do toolbar
//   }

//   ion-title {
//     color: white; // ou outra cor, dependendo da imagem
//   }

//   ion-icon {
//     color: white;
//   }
// }
