.card-header {
  height: 120px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  background-color: #00000077;
  border-radius: 8px 8px 0 0;
}

.title {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff; // Cor do texto
  padding: 4px 8px;
  border-radius: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); // Adiciona sombra ao texto
}
