<ion-item-sliding
  #slidingItem
  (ionSwipe)="handleSwipe(slidingItem, $event)">
  <ion-item>
    <ion-avatar slot="start" (click)="handleClick()">
      <div class="circle" [class.filled]="isCompleted$ | async"></div>
    </ion-avatar>
    <ion-label>
      <label
        [class.completed]="isCompleted$ | async"
        (click)="handleClick(true)"
      >
        {{ title }}
      </label>
    </ion-label>
  </ion-item>

  <ion-item-options side="start">
    <ion-item-option color="success">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon name="close-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
